<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    <link rel="stylesheet" href="../dashboard-sidebar.css">

    <link rel="stylesheet" href="./add-product.css">
</head>

<body>
    <aside>

        <section class="admin-details-wrapper">
            <div class="admin-img">
                <img src="../../../assets/admin.png" alt="Admin" height="130px">
            </div>

            <div class="admin-details">
                <h3>Admin</h3>
                <p>admin@gmail.com</p>
            </div>
        </section>

        <section class="panel-functions">

            <div class="panel-function">

                <img src="../../../assets/dashboard.svg" alt="Dashboard" height="18.5px">

                <a href="../dashboard/dashboard.html">Dashboard</a>

            </div>

            <div class="active-dashboard-tab panel-function">
                <img class="blue" src="../../../assets/product.svg" alt="Dashboard" height="18.5px">

                <a href="./add-product.html"> Add Product </a>
            </div>

            <div class="panel-function">

                <img src="../../../assets/cart.svg" alt="Dashboard" height="18.5px">

                <a href="../orders/view-orders.html">View Orders</a>

            </div>

        </section>

    </aside>


    <div class="admin-panel-wrapper">

        <section class="admin-panel-content">

            <h1>Add Product</h1>

            <form class="add-product-form">

                <div class="input-fields-wrapper">
                    <div>
                        <label>Product Name</label>
                    </div>

                    <div>
                        <input type="text" name="productName" required>
                    </div>
                </div>

                <div class="input-fields-wrapper">
                    <div>
                        <label>Brand Name</label>
                    </div>

                    <div>
                        <input type="text" name="brandName" required>
                    </div>
                </div>

                <div class="input-fields-wrapper">
                    <div>
                        <label>Category</label>
                    </div>

                    <div>
                        <select required>
                            <option value="">Select Category</option>
                            <option value="men">Men</option>
                            <option value="women">Women</option>
                            <option value="kids">Kids</option>
                            <option value="unisex">Unisex</option>
                        </select>
                    </div>
                </div>

                <div class="input-fields-wrapper">
                    <div>
                        <label>Image</label>
                    </div>

                    <div>
                        <input type="file" name="productImage" id="productImage" accept="image/*">
                    </div>


                    <div id="displayProductImg"></div>


                </div>

                <div class="input-multiple-fields-wrapper">

                    <div>
                        <div>
                            <label>Price</label>
                        </div>

                        <div>
                            <input type="number" step="any" name="productPrice" required>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label>Rating</label>
                        </div>

                        <div>
                            <input type="number" name="productRating" step=".01" max="5" min="0" required>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label>Stock</label>
                        </div>

                        <div>
                            <input type="number" name="productStock" step=".01" max="5" min="0" required>
                        </div>
                    </div>

                </div>


                <button type="submit" class="add-product-btn">Add Product</button>


            </form>

        </section>
    </div>

    <script src="./add-product.js"></script>
</body>

</html>