<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="../CSS/header-footer.css" />
    <link rel="stylesheet" href="../CSS/product-page.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="wrapper-product-page">
      <header class="header">
        <div class="header-section-1">
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

          <div class="logo-text">
            <p>Trendy Attire</p>
          </div>

          <div class="profile-cart-icon">
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>

        <div class="header-section-2">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <hr />
              <li><a href="#">Products</a></li>
              <hr />
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="product-banner">
        <!-- <img src="Images/banner1.jpeg" alt="" /> -->
      </div>
      <div class="product-section-contents">
        <div class="product-pricing-details">
          <div class="categories-product">
            <h3>Categories</h3>
            <p>Men</p>
            <p>Women</p>
            <p>Unisex</p>
            <p>Kids</p>
          </div>
          <div class="brand-product">
            <h3>Brand</h3>
            <div class="nike">
              <input type="checkbox" />
              <p>Nike</p>
            </div>
            <div class="h-m">
              <input type="checkbox" />
              <p>H&M</p>
            </div>
            <div class="adidas">
              <input type="checkbox" />
              <p>Adidas</p>
            </div>
            <div class="zara">
              <input type="checkbox" />
              <p>Zara</p>
            </div>
            <div class="lewis">
              <input type="checkbox" />
              <p>Lewis</p>
            </div>
          </div>
          <div class="price-product">
            <h3>Price</h3>
            <input type="range" />
          </div>
          <div class="rating-product">
            <h3>Rating</h3>
            <input type="range" />
          </div>
          <div class="reset-apply-button">
            <button id="reset-button">Reset</button>
            <button id="apply-button">Apply</button>
          </div>
        </div>

        <div class="product-details">
          <div class="row-1">
            <div class="image-1">
              <div class="product-image">
                <img src="../Images/image1.png" alt="" />
              </div>
              <br />
              <div class="product-descriptions">
                <h3>Product Name</h3>
                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-2">
              <div class="product-image">
                <img src="../Images/image2.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-3">
              <div class="product-image">
                <img src="../Images/image2.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-4">
              <div class="product-image">
                <img src="../Images/image1.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row-2">
            <div class="image-1">
              <div class="product-image">
                <img src="../Images/image1.png" alt="" />
              </div>
              <br />
              <div class="product-descriptions">
                <h3>Product Name</h3>
                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-2">
              <div class="product-image">
                <img src="../Images/image2.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-3">
              <div class="product-image">
                <img src="../Images/image2.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
            <div class="image-4">
              <div class="product-image">
                <img src="../Images/image1.png" alt="" />
              </div>
              <br />

              <div class="product-descriptions">
                <h3>Product Name</h3>

                <p>Brand Name</p>
                <p>In Stock (200)</p>
                <div class="price-and-rating">
                  <span>$30</span>
                  <p>3.5</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
