<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../dashboard-sidebar.css">
    <link rel="stylesheet" href="./dashboard.css">
</head>

<body>

    <aside>

        <section class="admin-details-wrapper">
            <div class="admin-img">
                <img src="../../../assets/admin.png" alt="Admin" height="130px">
            </div>

            <div class="admin-details">
                <h3>Admin</h3>
                <p>admin@gmail.com</p>
            </div>
        </section>

        <section class="panel-functions">

            <div class="active-dashboard-tab panel-function">

                <img class="blue" src="../../../assets/dashboard.svg" alt="Dashboard" height="18.5px">

                <a href="dashboard.html">Dashboard</a>

            </div>

            <div class="panel-function">
                <img src="../../../assets/product.svg" alt="Dashboard" height="18.5px">

                <a href="../add-product/add-product.jsp"> Add Product </a>
            </div>

            <div class="panel-function">

                <img src="../../../assets/cart.svg" alt="Dashboard" height="18.5px">

                <a href="../orders/view-orders.html">View Orders</a>

            </div>

        </section>

    </aside>


    <div class="admin-panel-wrapper">

        <section class="admin-panel-content">

            <h1>Dashboard</h1>

            <div class="business-summary-wrapper">
                <div class="business-summary">
                    <img src="../../../assets/dollar.svg" alt="Total Sales">

                    <div>
                        <p>Total Sales</p>
                        <span>124456</span>
                    </div>
                </div>

                <div class="business-summary">
                    <img src="../../../assets/order.svg" alt="Total Order">

                    <div>
                        <p>Total Orders</p>
                        <span>124456</span>
                    </div>
                </div>

                <div class="business-summary">
                    <img src="../../../assets/colorful-product.svg" alt="Total Products">

                    <div>
                        <p>Total Products</p>
                        <span>124456</span>
                    </div>
                </div>
            </div>

            <div class="product-list">

                <h2>Products</h2>

                <div style="border-top: 1px solid black; margin-top:15px"></div>

                <table>
                    <tr>
                        <th style="width: 10%;">SN</th>
                        <th>Product Name</th>
                        <th style="width: 20%;">Product Price</th>
                        <th style="width: 15%;">Stock</th>
                    </tr>


                    <tr>
                        <td>1</td>
                        <td>Pant</td>
                        <td>$200</td>
                        <td>500</td>
                        <td>
                            <a href="#">
                                <img src="../../../assets/delete.svg" alt="" height="18px">
                            </a>

                        </td>

                        <td>
                            <a href="#">
                                <img src="../../../assets/edit.svg" alt="" height="18px">
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Pant</td>
                        <td>$200</td>
                        <td>500</td>
                        <td>
                            <a href="#">
                                <img src="../../../assets/delete.svg" alt="" height="18px">
                            </a>

                        </td>

                        <td>
                            <a href="#">
                                <img src="../../../assets/edit.svg" alt="" height="18px">
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Pant</td>
                        <td>$200</td>
                        <td>500</td>
                        <td>
                            <a href="#">
                                <img src="../../../assets/delete.svg" alt="" height="18px">
                            </a>

                        </td>

                        <td>
                            <a href="#">
                                <img src="../../../assets/edit.svg" alt="" height="18px">
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Pant</td>
                        <td>$200</td>
                        <td>500</td>
                        <td>
                            <a href="#">
                                <img src="../../../assets/delete.svg" alt="" height="18px">
                            </a>

                        </td>

                        <td>
                            <a href="#">
                                <img src="../../../assets/edit.svg" alt="" height="18px">
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Pant</td>
                        <td>$200</td>
                        <td>500</td>
                        <td>
                            <a href="#">
                                <img src="../../../assets/delete.svg" alt="" height="18px">
                            </a>

                        </td>

                        <td>
                            <a href="#">
                                <img src="../../../assets/edit.svg" alt="" height="18px">
                            </a>

                        </td>
                    </tr>


                </table>

            </div>

        </section>

    </div>

</body>

</html>