<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page Dashboard</title>
    <link rel="stylesheet" href="CSS/style.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="admin-page-dashboard">
      <div class="admin-page-wrapper">
        <div class="admin-dashboard-1">
          <div class="admin-image">
            <img src="Images/rabi.jpg" alt="" />
          </div>
          <br />
          <div class="admin-account">
            <p>Admin</p>
            <p>admin@gmail.com</p>
          </div>
          <br />
          <div class="dashboard-admin">
            <i class="fa-solid fa-gauge-high"></i>
            <p>Dashboard</p>
          </div>
          <div class="add-product-admin">
            <i class="fa-solid fa-box-archive"></i>
            <p>Add Product</p>
          </div>
          <div class="orders-admin">
            <i class="fa-solid fa-cart-plus"></i>
            <p>Orders</p>
          </div>
        </div>
        <div class="admin-dashboard-2">
          <h1 class="dashboard-heading">Dashboard</h1>
          <div class="sales-description">
            <div class="sales-1">
              <i class="fa-solid fa-sack-dollar"></i>
              <div class="sales-desc">
                <p>Total Sales</p>
                <p>$23,456,789</p>
              </div>
            </div>
            <div class="sales-2">
              <i class="fa-solid fa-cart-plus"></i>
              <div class="sales-desc">
                <p>Total Orders</p>
                <p>123</p>
              </div>
            </div>
            <div class="sales-3">
              <i class="fa-solid fa-box-archive"></i>
              <div class="sales-desc">
                <p>Total Products</p>
                <p>1000</p>
              </div>
            </div>
          </div>
          <div class="product-description">
            <p>Products</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
