
*{
	font-family: 'Poppins', sans-serif;
}


.business-summary-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.business-summary {
    background-color: white;
    width: 28%;
    display: flex;
    box-sizing: border-box;
    padding: 20px 20px;

}

.business-summary p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #7e7d7d;
}

.business-summary span {
    font-size: 18px;
}

.business-summary img {
    margin-right: 20px;
}

.product-list {
    background-color: white;
    padding: 20px;
}

.product-list h2 {
    margin: 0;
}

/* .product-list table {
    width: 90%;
}

.product-list table th {
    padding: 30px 0;
    text-align: left;
} */

.product-cards-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


/* table,
th,
td {

    border-collapse: collapse;
} */

/* .product-list table td {
    padding-bottom: 10px;
} */


.product-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-title {
    margin: 20px 0 0 0;
}

.product-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

}

.product-desc p {
    margin: 10px 0;
}

.product-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 5px;
}

.product-card-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    width: 80px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;

}

.product-card-btn a {

    text-decoration: none;
}


.product-card-btn img {
    margin-right: 10px;
}

.delete-btn {
    color: red;
}

.edit-btn span{
	color: #21C55D;
}