@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navigation bar css */

.header-page-body{
	background-color:white;
}

.header {
  width: 80%;
  margin: 0px auto;
  padding:20px 0;
}

.header-section-1,
.header-section-2>i {
  font-size: 23px;
}

.logo-text p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 25px;
}

.header-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.header-section-2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 30%;
  margin: 20px auto;
  font-weight: 800;
}

.header-section-2 a {
  color: black;
  text-decoration: none;
}

.header-section-2 hr {
  width: 2px;
  background-color: black;
}

#cart-display-btn {
  all: unset;
  cursor: pointer;
}

/* footer css */

footer {
  background-color: #3d3d3d;
  color: white;
  padding-top: 50px;
}

.footer-section-1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-section-1>div>a {
  text-decoration: none;
  color: white;
}

.footer-section-1>div>p {
  text-transform: uppercase;
}

.categories,
.account,
.quick-links {
  display: flex;
  flex-direction: column;
  line-height: 28px;
}

.text-button {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.text-button input {
  border: 0;
  background-color: #3d3d3d;
  border-bottom: 2px solid white;
  padding-left: 13px;
}

.text-button input::placeholder {
  color: white;
}

.text-button input {
  width: 255px;
  height: 35px;
}

.button-div-subscribe button {
  width: 180px;
  height: 40px;
  border: 1px solid #fff;
  color: white;
  background-color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer-section-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}


.footer-logo-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.trendy {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 30px;
  text-align: center;
}

.transform {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
}

.footer-section-2>div>span {
  text-transform: uppercase;
  font-size: 23px;
}

.footer-section-3 {
  text-align: center;
}

.socials svg {
  width: 30px;
  height: 30px;
  padding: 4px;
}



.cart-preview-wrapper {
  width: 300px;
  height: 100vh;
  border: 1px solid #ccc;
  padding: 30px 20px;
  box-sizing: border-box;
  position: fixed;
  right: -300px;
  top: 0;
  background-color: white;
  transition: 0.3s;
  z-index:111;
}

.cart-preview-wrapper-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index:11;
}

.cart-preview-items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 65%;
  overflow: scroll;
}

.cart-preview-item {
  display: flex;
  column-gap: 20px;
}

.cart-preview-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: bolder;
}

.cart-preview-heading #cart-hide-btn {
  all: unset;
  cursor: pointer;
}

.cart-preview-item-img {
  width: 70px;
  height: 60px;
}

.cart-preview-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-preview-item-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-preview-item-desc p {
  font-size: 13px;
}

.cart-preview-item-desc .item-name {
  font-size: 13px;
}

.cart-preview-item-desc .item-price {
  font-style: italic;
  font-size: 12px;
}

.cart-preview-item-desc .item-price span {
  font-size: 14px;

}

.cart-preview-item-delt-btn button {
  all: unset;
  font-size: 14px;
  cursor: pointer;
}

.cart-preview-details {
  margin-top: 30px;
}

.cart-preview-details p {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bolder;
}

.card-checkout-btn {
  text-align: center;
  margin-top: 30px;
}

.card-checkout-btn button {
  background: none;
  border: 1px solid black;
  width: 100%;
  height: 45px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.profile-cart-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#profile-display-btn {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.profile-drop-down {
  position: absolute;
  width: 300px;
  top: 30px;
  left: -120px;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  display: none;
}

.profile-drop-down>div {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
}

#profile-display-btn:hover .profile-drop-down {
  display: block;
}

.user-desc {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.user-desc p {
  margin: 0;
  font-size: 19px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.user-functions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.user-functions a {
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.user-functions a:hover {
  color: blue;
}

.search-box-btn-wrapper {
  display: flex;
}

#show-search-box-btn {
  all: unset;
  cursor: pointer;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  width: 0px;
  visibility: hidden;
}


.search-form select {
  height: 32px;
  border: none;
  outline: none;
}

.search-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid black;
  margin-left: 10px;
  padding-left: 10px;
  width: 100%;
}

.search-box-wrapper input {
  border: none;
  outline: none;
  width: 82%;
}

.search-box-wrapper svg {
  font-size: 18px;
}

.search-box-wrapper button {
  all: unset;
  cursor: pointer;
}