<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="CSS/header-footer.css" />
    <link rel="stylesheet" href="CSS/home-page.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="section-home-content">
      <header class="header">
        <div class="header-section-1">
          <div class="search-box" id="search-box" onclick="showSearchBox()">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <img src="Images/search-bar.png" alt="" />
          </div>
          <div class="logo-text">
            <p>Trendy Attire</p>
          </div>

          <div class="profile-cart-icon">
            <!-- <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-cart-plus"></i> -->
            <img src="Images/user-icon.png" alt="" />
            <img src="Images/shop-cart.png" alt="" />
          </div>
        </div>

        <div class="header-section-2">
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <hr />
              <li><a href="Pages/">Products</a></li>
              <hr />
              <li><a href="Pages/contact-us.html">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="wrapper-home-section">
        <div class="white-collection-banner">
          <div class="required-image">
            <img src="Images/image1.png" alt="" />
            <img src="Images/image2.png" alt="" />
          </div>
          <div class="required-texts">
            <h1>
              The White <br />
              Collection
            </h1>
            <div class="shop-now-button">
              <button id="shop-now">Shop Now</button>
            </div>
          </div>
        </div>
        <div class="code-discount">
          <div class="ten-off">
            <h1>Get 10% Off</h1>
            <p>on orders over 1500</p>
          </div>
          <div class="twenty-off">
            <h1>Get 20% Off</h1>
            <p>on orders over 4000</p>
          </div>
          <div class="thirty-off">
            <h1>Get 30% Off</h1>
            <p>on orders over 10000</p>
          </div>
          <div class="code-discount-button">
            <button id="code-discount">Code: Discount</button>
          </div>
        </div>
        <div class="dress-description-section">
          <div class="women-collection">
            <h1>Women's Collection</h1>
            <a href="">Shop Now</a>
          </div>
          <div class="men-collection">
            <h1>Men's Collection</h1>
            <a href="">Shop Now</a>
          </div>
          <div class="unisex-collection">
            <h1>Unisex's Collection</h1>
            <a href="">Shop Now</a>
          </div>
          <div class="kids-collection">
            <h1>Kids Collection</h1>
            <a href="">Shop Now</a>
          </div>
        </div>
        <!-- customer feedback section -->
        <h1 class="customer-feedback-heading">Customer Feedback</h1>
        <div class="customer-feedback">
          <div class="feedback-1">
            <div class="customer-image">
              <img src="Images/customer1.png" alt="" />
            </div>
            <div class="customer-message">
              <br />
              <p>
                “We love our new duds and continue to be grateful for your
                efforts on behalf of our planet.”
              </p>
              <br />
              <span>Mary Jane</span>
            </div>
          </div>
          <div class="feedback-2">
            <div class="customer-image">
              <img src="Images/customer2.png" alt="" />
            </div>
            <div class="customer-message">
              <br />
              <p>
                "Thank you for your gracious hospitality hosting the W.H.A.T.
                Group! The tops I bought are beautiful!"
              </p>
              <br />
              <span>Olivia Gracia</span>
            </div>
          </div>
          <div class="feedback-3">
            <div class="customer-image">
              <img src="Images/customer3.png" alt="" />
            </div>
            <div class="customer-message">
              <br />
              <p>
                “We love our new duds and continue to be grateful for your
                efforts on behalf of our planet.”
              </p>
              <br />
              <span>Ada Smith</span>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <br />
        <div class="footer-section-1">
          <div class="categories">
            <p>Categories</p>
            <br />
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Unisex</a>
          </div>

          <div class="account">
            <p>Account</p>
            <br />
            <a href="#">Sign up</a>
            <a href="#">Sign in</a>
          </div>

          <div class="quick-links">
            <p>Quick Links</p>
            <br />
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Contact us</a>
          </div>

          <div class="sign-up">
            <p>Sign up for newsletter</p>
            <br />
            <div class="text-button">
              <input type="email" placeholder="Enter email address..." />
              <div class="button-div-subscribe">
                <button id="subscribe">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="footer-section-2">
          <div class="logo">
            <p class="trendy">Trendy Attire</p>
            <p class="transform">Transform your style</p>
          </div>
          <div class="store-location">
            <span>Store Location</span>
            <p>Kamalpokhari, Kathmandu</p>
            <p>+977 984758877</p>
            <p>trendy.attire@gmail.com</p>
          </div>
          <div class="socials">
            <span>Follow us</span>
            <br />
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <br />
        <hr />
        <div class="footer-section-3">
          <br />
          <p>© 2023 Trendy Attire. All Rights Reserved.</p>
          <br />
        </div>
      </footer>
    </section>
  </body>
</html>
