<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin page - add product</title>
    <link rel="stylesheet" href="CSS/style.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="admin-page-dashboard">
      <div class="admin-page-wrapper">
        <div class="admin-dashboard-1">
          <div class="admin-image">
            <img src="Images/rabi.jpg" alt="" />
          </div>
          <br />
          <div class="admin-account">
            <p>Admin</p>
            <p>admin@gmail.com</p>
          </div>
          <br />
          <div class="dashboard-admin">
            <i class="fa-solid fa-gauge-high"></i>
            <p>Dashboard</p>
          </div>
          <div class="add-product-admin">
            <i class="fa-solid fa-box-archive"></i>
            <p>Add Product</p>
          </div>
          <div class="orders-admin">
            <i class="fa-solid fa-cart-plus"></i>
            <p>Orders</p>
          </div>
        </div>
        <div class="admin-dashboard-add-product">
          <div class="add-product-details">
            <h1 class="add-new-product-heading">Add New Product</h1>
            <br />
            <div class="product-add-section">
              <div class="name-section">
                <p>Name:</p>
                <input type="text" />
              </div>
              <div class="brand-section">
                <p>Brand:</p>
                <input type="text" />
              </div>
              <div class="category-section">
                <p>Category:</p>
                <select name="category" id="">
                  <option value="1">Category 1</option>
                  <option value="1">Category 2</option>
                  <option value="1">Category 3</option>
                </select>
              </div>
              <div class="price-section">
                <p>Price</p>
                <input type="text" />
              </div>
              <div class="rating-section">
                <p>Rating</p>
                <select name="rating" id="">
                  <option value="1">Rating 1</option>
                  <option value="1">Rating 2</option>
                  <option value="1">Rating 3</option>
                </select>
              </div>
              <div class="image-section">
                <p>Image:</p>
                <input type="image" />
              </div>
              <div class="button-add-product-admin">
                <button id="add-button-admin">Add Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
