<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile page</title>
    <link rel="stylesheet" href="CSS/style.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper-main-contents">
      <header class="header">
        <div class="header-section-1">
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

          <div class="logo-text">
            <p>Trendy Attire</p>
          </div>

          <div class="profile-cart-icon">
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>

        <div class="header-section-2">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <hr />
              <li><a href="#">Products</a></li>
              <hr />
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="wrapper-body-section">
        <div class="wrapper-content-section">
          <div class="content-1">
            <div class="personal-info">
              <i class="fa-regular fa-user"></i>
              <a href="">Personal Info</a>
            </div>

            <div class="change-password">
              <i class="fa-solid fa-key"></i>
              <a href="">Change Password</a>
            </div>

            <div class="check-history">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <a href="">History</a>
            </div>
          </div>
          <div class="content-2">
            <div class="profile-image">
              <img src="Images/rabi.jpg" alt="" />
            </div>
            <br />
            <div class="information-contents">
              <p>First name: Rabi</p>
              <p>Last name: Giri</p>
              <p>Email: abc@gmail.com</p>
              <p>Address: ABC</p>
              <p>Phone number: +977 989898999</p>
            </div>
            <div class="edit-changes-button">
              <button id="edit-changes">Edit changes</button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <br />
        <div class="footer-section-1">
          <div class="categories">
            <p>Categories</p>
            <br />
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Unisex</a>
          </div>

          <div class="account">
            <p>Account</p>
            <br />
            <a href="#">Sign up</a>
            <a href="#">Sign in</a>
          </div>

          <div class="quick-links">
            <p>Quick Links</p>
            <br />
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Contact us</a>
          </div>

          <div class="sign-up">
            <p>Sign up for newsletter</p>
            <br />
            <div class="text-button">
              <input type="email" placeholder="Enter email address..." />
              <div class="button-div-subscribe">
                <button id="subscribe">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="footer-section-2">
          <div class="logo">
            <p class="trendy">Trendy Attire</p>
            <p class="transform">Transform your style</p>
          </div>
          <div class="store-location">
            <span>Store Location</span>
            <p>Kamalpokhari, Kathmandu</p>
            <p>+977 984758877</p>
            <p>trendy.attire@gmail.com</p>
          </div>
          <div class="socials">
            <span>Follow us</span>
            <br />
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <br />
        <hr />
        <div class="footer-section-3">
          <br />
          <p>© 2023 Trendy Attire. All Rights Reserved.</p>
          <br />
        </div>
      </footer>
    </div>
  </body>
</html>
