<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>
    <div class="wrapper-contents">
      <div class="heading-logo">
        <h1>Trendy Attire</h1>
        <p>Transform Your Style</p>
      </div>
      <div class="wrapper-body-form">
        <h1 class="heading-sign-up">Sign Up</h1>
        <br />
        <form action="" class="form">
          <input type="text" name="fname" placeholder="First Name" required />
          <input type="text" name="lname" placeholder="Last Name" required />
          <div class="form-part-2">
            <input type="text" name="address" placeholder="Address" required />
            <input type="email" name="email" placeholder="Email" required />
            <input
              type="text"
              name="phone-number"
              placeholder="Phone number"
              required
            />
            <input type="password" placeholder="Password" required />
            <input type="password" placeholder="Confirm password" required />
            <input type="image" id="image" />

            <div class="button-sign-up">
              <button id="sign-up">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
