<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css" />
  </head>

  <script
    src="https://kit.fontawesome.com/1c6c06e40c.js"
    crossorigin="anonymous"
  ></script>

  <body>
    <div class="sign-in">
      <div class="wrapper-div-signup">
        <div class="first-div">
          <div class="heading"><b>SIGN IN</b></div>
        </div>
        <div class="formre">
          <form action="" class="form">
            <div class="form-section-1">
              <div class="form-page">
                <input type="text" placeholder="Username" required />
                <br />
                <br />
                <input type="text" placeholder="password" required />
              </div>
            </div>
            <div class="button-1">
              <button>Login</button>
            </div>
            <div class="message">
              <p>Don’t have an account? Sign up</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
