<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="stylesheet" href="CSS/style.css" />
    <script
      src="https://kit.fontawesome.com/1c6c06e40c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="section-contact-us">
      <div class="search-box-input" id="search-box">
        <input type="search" />
      </div>

      <header class="header">
        <div class="header-section-1">
          <div
            class="search-box"
            id="search-box-show"
            onclick="showSearchBox()"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <script>
            let searchBoxShow = document.getElementById("search-box-show");
            let searchBox = document.getElementById("search-box");
            function showSearchBox() {
              searchBox.style.position = "absolute";
              searchBox.style.bottom = "200px";
            }
          </script>
          <div class="logo-text">
            <p>Trendy Attire</p>
          </div>

          <div class="profile-cart-icon">
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>

        <div class="header-section-2">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <hr />
              <li><a href="#">Products</a></li>
              <hr />
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="contact-us">
        <h1 class="heading">
          Fill the form, <br />
          It's easy.
        </h1>

        <form action="" class="form">
          <div class="form-section-1">
            <div class="form-page-1">
              <input type="text" placeholder="First Name" required />
              <input type="text" placeholder="Last Name" required />
            </div>

            <br />

            <div class="form-page-2">
              <input type="email" placeholder="Email" required />
              <br />
              <textarea
                name="textarea"
                id="textarea"
                cols="30"
                rows="10"
                placeholder="Write a message"
                required
              ></textarea>
              <br />
              <div class="button-div-send">
                <button id="send-message">Send Message</button>
              </div>
            </div>
          </div>

          <div class="form-section-2">
            <h1 class="heading-1">Find us at.</h1>

            <div class="form-page-3">
              <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>Address: Kathmandu, Nepal</p>
              </div>
              <div class="contact">
                <i class="fa-solid fa-phone"></i>
                <p>Contact: +9845668866</p>
              </div>
              <div class="email">
                <i class="fa-solid fa-envelope-open"></i>
                <p>Mail us: trendy_attire@gmail.com</p>
              </div>
            </div>
          </div>
        </form>

        <div class="map-section">
          <div style="width: 100%">
            <iframe
              width="100%"
              height="320px"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=320px&amp;hl=en&amp;q=Islington%20college,%20Nepal+(Trendy%20Attire)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ><a href="https://www.maps.ie/distance-area-calculator.html"
                >measure area map</a
              ></iframe
            >
          </div>
        </div>
        <footer>
          <br />
          <div class="footer-section-1">
            <div class="categories">
              <p>Categories</p>
              <br />
              <a href="#">Men</a>
              <a href="#">Women</a>
              <a href="#">Kids</a>
              <a href="#">Unisex</a>
            </div>

            <div class="account">
              <p>Account</p>
              <br />
              <a href="#">Sign up</a>
              <a href="#">Sign in</a>
            </div>

            <div class="quick-links">
              <p>Quick Links</p>
              <br />
              <a href="#">Home</a>
              <a href="#">Products</a>
              <a href="#">Contact us</a>
            </div>

            <div class="sign-up">
              <p>Sign up for newsletter</p>
              <br />
              <div class="text-button">
                <input type="email" placeholder="Enter email address..." />
                <div class="button-div-subscribe">
                  <button id="subscribe">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
          <br />
          <hr />
          <br />
          <div class="footer-section-2">
            <div class="logo">
              <p class="trendy">Trendy Attire</p>
              <p class="transform">Transform your style</p>
            </div>
            <div class="store-location">
              <span>Store Location</span>
              <p>Kamalpokhari, Kathmandu</p>
              <p>+977 984758877</p>
              <p>trendy.attire@gmail.com</p>
            </div>
            <div class="socials">
              <span>Follow us</span>
              <br />
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-youtube"></i>
            </div>
          </div>
          <br />
          <hr />
          <div class="footer-section-3">
            <br />
            <p>© 2023 Trendy Attire. All Rights Reserved.</p>
            <br />
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
